crdppf/static_specific/public/xsd/OeREBKRM09trsfr.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.interlis.ch/irf/1.0/OeREBKRM09trsfr"
  targetNamespace="http://www.interlis.ch/irf/1.0/OeREBKRM09trsfr"
  xmlns:geom="http://www.interlis.ch/geometry/1.0"
  xmlns:ili="http://www.interlis.ch/irf/1.0/INTERLIS"
  xmlns:ili2c="http://www.interlis.ch/ili2c"
  xmlns:chGeoId10="http://www.interlis.ch/irf/1.0/chGeoId10"
  xmlns:MultilingualText09="http://www.interlis.ch/irf/1.0/MultilingualText09"
  xmlns:OeREBKRM09="http://www.interlis.ch/irf/1.0/OeREBKRM09"
  xmlns:OeREBKRM09vs="http://www.interlis.ch/irf/1.0/OeREBKRM09vs"
  elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:annotation>
  <xsd:appinfo source="http://www.interlis.ch/ili2c/ili2cversion">4.4.12-20130513</xsd:appinfo>
  <xsd:appinfo source="http://www.interlis.ch/ili2c">
    <ili2c:model>OeREBKRM09trsfr</ili2c:model>
    <ili2c:modelVersion>2010-10-26</ili2c:modelVersion>
    <ili2c:modelVersionExplanation> Entwurf nach der Anhörung </ili2c:modelVersionExplanation>
    <ili2c:modelAt>mailto:ce@eisenhutinformatik.ch</ili2c:modelAt>
  </xsd:appinfo>
</xsd:annotation>
<xsd:import namespace="http://www.interlis.ch/geometry/1.0" schemaLocation="xrfgeom.xsd"/>
<xsd:import namespace="http://www.interlis.ch/irf/1.0/INTERLIS" schemaLocation="xrfili.xsd"/>
<xsd:import namespace="http://www.interlis.ch/irf/1.0/chGeoId10" schemaLocation="chGeoId10.xsd"/>
  <xsd:import namespace="http://www.interlis.ch/irf/1.0/MultilingualText09" schemaLocation="MultilingualText09.xsd"/>
  <xsd:import namespace="http://www.interlis.ch/irf/1.0/OeREBKRM09" schemaLocation="OeREBKRM09.xsd"/>
  <xsd:import namespace="http://www.interlis.ch/irf/1.0/OeREBKRM09vs" schemaLocation="OeREBKRM09vs.xsd"/>
<xsd:element name="DarstellungsDienst" type="DarstellungsDienstType"/>
<xsd:complexType  name="DarstellungsDienstType">
  <xsd:sequence>
    <xsd:element name="VerweisWMS">
      <xsd:simpleType>
        <xsd:restriction base="xsd:anyURI">
          <xsd:maxLength value="1023"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="LegendeImWeb" type="OeREBKRM09:WebReferenz"/>
  </xsd:sequence>
  <xsd:attribute name="TID" type="ili:TID"/>
</xsd:complexType>
<xsd:element name="Eigentumsbeschraenkung" type="EigentumsbeschraenkungType"/>
<xsd:complexType  name="EigentumsbeschraenkungType">
  <xsd:sequence>
    <xsd:element name="Aussage">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="MultilingualText09:MultilingualMText"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="Thema" type="OeREBKRM09:Thema"/>
    <xsd:element name="ArtCode" type="OeREBKRM09:ArtEigentumsbeschraenkung" minOccurs="0"/>
    <xsd:element name="ArtCodeliste" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:anyURI">
          <xsd:maxLength value="1023"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="Rechtsstatus" type="OeREBKRM09:RechtsStatus"/>
    <xsd:element name="publiziertAb" type="OeREBKRM09:Datum"/>
    <xsd:element name="DarstellungsDienst" minOccurs="0">
      <xsd:complexType>
        <xsd:attribute name="REF" type="ili:REF"/>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZustaendigeStelle">
      <xsd:complexType>
        <xsd:attribute name="REF" type="ili:REF"/>
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="TID" type="ili:TID"/>
</xsd:complexType>
<xsd:element name="Geometrie" type="GeometrieType"/>
<xsd:complexType  name="GeometrieType">
  <xsd:sequence>
    <xsd:element name="Punkt" type="OeREBKRM09:LKoord" minOccurs="0"/>
    <xsd:element name="Linie" minOccurs="0">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="geom:polyline"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="Flaeche" minOccurs="0">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="geom:surface"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="Rechtsstatus" type="OeREBKRM09:RechtsStatus"/>
    <xsd:element name="publiziertAb" type="OeREBKRM09:Datum"/>
    <xsd:element name="MetadatenGeobasisdaten" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:anyURI">
          <xsd:maxLength value="1023"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="Eigentumsbeschraenkung">
      <xsd:complexType>
        <xsd:attribute name="REF" type="ili:REF"/>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZustaendigeStelle">
      <xsd:complexType>
        <xsd:attribute name="REF" type="ili:REF"/>
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="TID" type="ili:TID"/>
</xsd:complexType>
<xsd:element name="HinweisDefinition" type="HinweisDefinitionType"/>
<xsd:complexType  name="HinweisDefinitionType">
  <xsd:sequence>
    <xsd:element name="Thema" type="OeREBKRM09:Thema" minOccurs="0"/>
    <xsd:element name="Kanton" type="chGeoId10:Kanton" minOccurs="0"/>
    <xsd:element name="Gemeinde" type="chGeoId10:BFSNr" minOccurs="0"/>
    <xsd:element name="ZustaendigeStelle">
      <xsd:complexType>
        <xsd:attribute name="REF" type="ili:REF"/>
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="TID" type="ili:TID"/>
</xsd:complexType>
<xsd:element name="DarstellungsDienstEigentumsbeschraenkung" type="DarstellungsDienstEigentumsbeschraenkungType"/>
<xsd:complexType  name="DarstellungsDienstEigentumsbeschraenkungType">
  <xsd:sequence>
  </xsd:sequence>
  <xsd:attribute name="TID" type="ili:TID"/>
</xsd:complexType>
<xsd:element name="GeometrieEigentumsbeschraenkung" type="GeometrieEigentumsbeschraenkungType"/>
<xsd:complexType  name="GeometrieEigentumsbeschraenkungType">
  <xsd:sequence>
  </xsd:sequence>
  <xsd:attribute name="TID" type="ili:TID"/>
</xsd:complexType>
<xsd:element name="GrundlageVerfeinerung" type="GrundlageVerfeinerungType"/>
<xsd:complexType  name="GrundlageVerfeinerungType">
  <xsd:sequence>
    <xsd:element name="Grundlage">
      <xsd:complexType>
        <xsd:attribute name="REF" type="ili:REF"/>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="Verfeinerung">
      <xsd:complexType>
        <xsd:attribute name="REF" type="ili:REF"/>
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="TID" type="ili:TID"/>
</xsd:complexType>
<xsd:element name="HinweisDefinitionDokument" type="HinweisDefinitionDokumentType"/>
<xsd:complexType  name="HinweisDefinitionDokumentType">
  <xsd:sequence>
    <xsd:element name="HinweisDefinition">
      <xsd:complexType>
        <xsd:attribute name="REF" type="ili:REF"/>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="Dokument">
      <xsd:complexType>
        <xsd:attribute name="REF" type="ili:REF"/>
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="TID" type="ili:TID"/>
</xsd:complexType>
<xsd:element name="HinweisDefinitionZustaendigeStelle" type="HinweisDefinitionZustaendigeStelleType"/>
<xsd:complexType  name="HinweisDefinitionZustaendigeStelleType">
  <xsd:sequence>
  </xsd:sequence>
  <xsd:attribute name="TID" type="ili:TID"/>
</xsd:complexType>
<xsd:element name="HinweisVorschrift" type="HinweisVorschriftType"/>
<xsd:complexType  name="HinweisVorschriftType">
  <xsd:sequence>
    <xsd:element name="Eigentumsbeschraenkung">
      <xsd:complexType>
        <xsd:attribute name="REF" type="ili:REF"/>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="Vorschrift">
      <xsd:complexType>
        <xsd:attribute name="REF" type="ili:REF"/>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="ArtikelNr" maxOccurs="unbounded">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="OeREBKRM09:ArtikelNummer_"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="TID" type="ili:TID"/>
</xsd:complexType>
<xsd:element name="ZustaendigeStelleEigentumsbeschraenkung" type="ZustaendigeStelleEigentumsbeschraenkungType"/>
<xsd:complexType  name="ZustaendigeStelleEigentumsbeschraenkungType">
  <xsd:sequence>
  </xsd:sequence>
  <xsd:attribute name="TID" type="ili:TID"/>
</xsd:complexType>
<xsd:element name="ZustaendigeStelleGeometrie" type="ZustaendigeStelleGeometrieType"/>
<xsd:complexType  name="ZustaendigeStelleGeometrieType">
  <xsd:sequence>
  </xsd:sequence>
  <xsd:attribute name="TID" type="ili:TID"/>
</xsd:complexType>
<xsd:element name="Transferstruktur" type="TransferstrukturType" substitutionGroup="OeREBKRM09vs:Vorschriften"/>
<xsd:complexType name="TransferstrukturType">
  <xsd:complexContent>
    <xsd:extension base="OeREBKRM09vs:VorschriftenType">
      <xsd:sequence>
        <xsd:element ref="DarstellungsDienst" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="Eigentumsbeschraenkung" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="Geometrie" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="HinweisDefinition" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="GrundlageVerfeinerung" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="HinweisDefinitionDokument" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="HinweisVorschrift" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>

	<xsd:element name="Exception" type="Exception"/>
	<xsd:complexType name="Exception">
		<xsd:sequence>
			<xsd:element name="code">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:enumeration value="other"/>
						<xsd:enumeration value="extended"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codeExtended" type="xsd:normalizedString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>if code==extended then this is the code. Used to introduce new codes after xsd release.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nativeCode" type="xsd:normalizedString" minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="message" type="xsd:normalizedString" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A human-readable, English message with a short description of the problem.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalDetails" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Optionally, technical details that should not be presented to a user but are useful for diagnosing the cause of the error.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extendedParameters" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>if code==extended then this might be used to pass additional values to clients.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tag" type="xsd:anyURI"/>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

  <xsd:element name="GetTransferstrukturByBbox" type="GetTransferstrukturByBboxType"/>
  <xsd:complexType name="GetTransferstrukturByBboxType">
    <xsd:sequence>
      <xsd:element name="bbox" type="geom:PointType" minOccurs="2" maxOccurs="2"/>
      <xsd:element name="topic" type="OeREBKRM09:Thema" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>set to get only some of the possible topics</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>    
  </xsd:complexType>
  <xsd:element name="GetTransferstrukturByBboxResponse" type="TransferstrukturType"/>

  <xsd:element name="GetTransferstrukturByPerimeter" type="GetTransferstrukturByPerimeterType"/>
  <xsd:complexType name="GetTransferstrukturByPerimeterType">
    <xsd:sequence>
      <xsd:element name="perimeter" type="geom:SurfaceType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="topic" type="OeREBKRM09:Thema" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>set to get only some of the possible topics</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>    
  </xsd:complexType>
  <xsd:element name="GetTransferstrukturByPerimeterResponse" type="TransferstrukturType"/>
  
</xsd:schema>
